
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f1f8f9;
  display: grid;
  flex-direction: column;
  min-height: 100vh; 
  overflow-x: auto; 
}

header {
  background-color: #3c9ecf;
  color: white;
  padding: 2rem 0 1rem;
}

header h1 {
  text-align: center;
  font-size: 3rem;
}


nav ul {
  display: grid;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}


nav li a {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}


.educacao-infantil {
  background-color: #ffffff;
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}

.educacao-infantil h2 {
  font-size: 2.5rem;
  color: #3c9ecf;
  margin-bottom: 3rem;
}

.card {
  background-color: #f4f9fb;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  width: 100%; 
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}


footer {
  background-color: #3c9ecf;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: auto; 
}


@media (max-width: 991px) {
  header h1 {
      font-size: 2.4rem;
  }

  .educacao-infantil h2 {
      font-size: 2rem;
  }

  .card {
      padding: 1.5rem;
      margin-bottom: 1rem;
  }
}


@media (max-width: 767px) {

  header h1 {
      font-size: 2rem;
  }

  
  nav ul {
      flex-direction: row; 
      justify-content: space-around; 
      gap: 0; 
  }

  nav li a {
      font-size: 1rem;
  }


  .educacao-infantil h2 {
      font-size: 1.8rem;
  }

  .educacao-infantil p {
      font-size: 1rem;
  }

  .card {
      padding: 1.2rem; 
      margin-bottom: 1rem;
  }

  .card h3 {
      font-size: 1.4rem;
  }

  .card p {
      font-size: 1rem;
  }
}


@media (max-width: 480px) {
  nav ul {
      flex-direction: row; 
      justify-content: center; 
      gap: 1rem;
  }

  nav li a {
      font-size: 1.1rem;
  }

  .educacao-infantil h2 {
      font-size: 1.6rem;
  }

  .card {
      padding: 1rem; 
  }

  .card h3 {
      font-size: 1.3rem;
  }

  .card p {
      font-size: 1rem;
  }
}
