
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f8f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: grid;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    background-color: #3c9ecf;
    color: white;
    padding: 2rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    font-family: 'Lora', serif;
    text-align: center; 
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: center;
}

th {
    background-color: #3c9ecf;
    color: white;
}

button {
    padding: 0.5rem 1rem;
    background-color: #3c9ecf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a7da1;
}


footer {
    background-color: #3c9ecf;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    margin-top: auto; 
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    table th, table td {
        padding: 0.8rem;
    }

    button {
        padding: 0.5rem 1rem;
    }
}
